[
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack_wd/stack_push_wd/stack_push_wd_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack_wd/stack_size_wd/stack_size_wd_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack_wd/stack_pop_wd/stack_pop_wd_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack_wd/stack_top_wd/stack_top_wd_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack_wd/stack_empty_wd/stack_empty_wd_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/binarysearch/lower_bound/lower_bound.c",
      "./StandardAlgorithms/binarysearch/binary_search/binary_search.c",
      "./StandardAlgorithms/binarysearch/binary_search/binary_search_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/binarysearch/upper_bound/upper_bound.c",
      "./StandardAlgorithms/binarysearch/upper_bound/upper_bound_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/binarysearch/lower_bound/lower_bound.c",
      "./StandardAlgorithms/binarysearch/lower_bound/lower_bound_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/binarysearch/lower_bound/lower_bound.c",
      "./StandardAlgorithms/binarysearch/binary_search2/binary_search2.c",
      "./StandardAlgorithms/binarysearch/binary_search2/binary_search2_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/binarysearch/upper_bound/upper_bound.c",
      "./StandardAlgorithms/binarysearch/lower_bound/lower_bound.c",
      "./StandardAlgorithms/binarysearch/equal_range/equal_range.c",
      "./StandardAlgorithms/binarysearch/equal_range/equal_range_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/binarysearch/upper_bound/upper_bound.c",
      "./StandardAlgorithms/binarysearch/lower_bound/lower_bound.c",
      "./StandardAlgorithms/binarysearch/equal_range2/equal_range2.c",
      "./StandardAlgorithms/binarysearch/equal_range2/equal_range2_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/find2/find2.c",
      "./StandardAlgorithms/nonmutating/find2/find2_test.cpp"
    ]  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/find2/find2.c",
      "./StandardAlgorithms/nonmutating/find_first_of/find_first_of.c",
      "./StandardAlgorithms/nonmutating/find_first_of/find_first_of_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/find2/find2.c",
      "./StandardAlgorithms/nonmutating/find5/find5.c",
      "./StandardAlgorithms/nonmutating/find5/find5_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/search_n/search_n.c",
      "./StandardAlgorithms/nonmutating/search_n/search_n_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/adjacent_find/adjacent_find.c",
      "./StandardAlgorithms/nonmutating/adjacent_find/adjacent_find_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/mismatch/mismatch.c",
      "./StandardAlgorithms/nonmutating/equal/equal.c",
      "./StandardAlgorithms/nonmutating/find_end/find_end.c",
      "./StandardAlgorithms/nonmutating/find_end/find_end_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/mismatch/mismatch.c",
      "./StandardAlgorithms/nonmutating/equal/equal.c",
      "./StandardAlgorithms/nonmutating/search/search.c",
      "./StandardAlgorithms/nonmutating/search/search_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/count/count.c",
      "./StandardAlgorithms/nonmutating/count/count_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/find3/find3.c",
      "./StandardAlgorithms/nonmutating/find3/find3_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/mismatch/mismatch.c",
      "./StandardAlgorithms/nonmutating/equal/equal.c",
      "./StandardAlgorithms/nonmutating/equal/equal_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/count2/count2.c",
      "./StandardAlgorithms/nonmutating/count2/count2_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/mismatch/mismatch.c",
      "./StandardAlgorithms/nonmutating/mismatch/mismatch_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/find/find.c",
      "./StandardAlgorithms/nonmutating/find/find_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/find3/find3.c",
      "./StandardAlgorithms/nonmutating/find4/find4.c",
      "./StandardAlgorithms/nonmutating/find4/find4_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/nonmutating/find_if_not/find_if_not.c",
      "./StandardAlgorithms/nonmutating/find_if_not/find_if_not_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/heap/is_heap_until/is_heap_until.c",
      "./StandardAlgorithms/heap/is_heap/is_heap.c",
      "./StandardAlgorithms/heap/is_heap/is_heap_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/heap/is_heap_until/is_heap_until.c",
      "./StandardAlgorithms/heap/is_heap/is_heap.c",
      "./StandardAlgorithms/heap/push_heap/push_heap.c",
      "./StandardAlgorithms/heap/push_heap/push_heap_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/heap/is_heap_until/is_heap_until.c",
      "./StandardAlgorithms/heap/is_heap_until/is_heap_until_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/heap/is_heap_until/is_heap_until.c",
      "./StandardAlgorithms/heap/is_heap/is_heap.c",
      "./StandardAlgorithms/heap/push_heap/push_heap.c",
      "./StandardAlgorithms/heap/make_heap/make_heap.c",
      "./StandardAlgorithms/heap/make_heap/make_heap_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/heap/heap_child_max/heap_child_max.c",
      "./StandardAlgorithms/heap/heap_child_max/heap_child_max_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/heap/heap_child_max/heap_child_max.c",
      "./StandardAlgorithms/heap/push_heap/push_heap.c",
      "./StandardAlgorithms/heap/pop_heap/pop_heap.c",
      "./StandardAlgorithms/heap/make_heap/make_heap.c",
      "./StandardAlgorithms/heap/sort_heap/sort_heap.c",
      "./StandardAlgorithms/heap/sort_heap/sort_heap_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/heap/is_heap_until/is_heap_until.c",
      "./StandardAlgorithms/heap/is_heap/is_heap.c",
      "./StandardAlgorithms/heap/pop_heap/pop_heap.c",
      "./StandardAlgorithms/heap/pop_heap/pop_heap_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/heap/heap_parent/heap_parent.c",
      "./StandardAlgorithms/heap/heap_parent/heap_parent_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack_axiom/axiom_top_of_push/axiom_top_of_push.c",
      "./StandardAlgorithms/stack_axiom/axiom_top_of_push/axiom_top_of_push_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack_axiom/axiom_size_of_init/axiom_size_of_init.c",
      "./StandardAlgorithms/stack_axiom/axiom_size_of_init/axiom_size_of_init_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack_axiom/axiom_size_of_pop/axiom_size_of_pop.c",
      "./StandardAlgorithms/stack_axiom/axiom_size_of_pop/axiom_size_of_pop_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack_axiom/axiom_pop_of_push/axiom_pop_of_push.c",
      "./StandardAlgorithms/stack_axiom/axiom_pop_of_push/axiom_pop_of_push_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack_axiom/axiom_push_of_pop_top/axiom_push_of_pop_top.c",
      "./StandardAlgorithms/stack_axiom/axiom_push_of_pop_top/axiom_push_of_pop_top_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack_axiom/axiom_size_of_push/axiom_size_of_push.c",
      "./StandardAlgorithms/stack_axiom/axiom_size_of_push/axiom_size_of_push_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/maxmin/clamp/clamp.c",
      "./StandardAlgorithms/maxmin/clamp/clamp_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/maxmin/make_pair/make_pair.c",
      "./StandardAlgorithms/maxmin/make_pair/make_pair_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/maxmin/max_element2/max_element2.c",
      "./StandardAlgorithms/maxmin/max_seq/max_seq.c",
      "./StandardAlgorithms/maxmin/max_seq/max_seq_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/maxmin/max_element/max_element.c",
      "./StandardAlgorithms/maxmin/max_element/max_element_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/maxmin/max_element2/max_element2.c",
      "./StandardAlgorithms/maxmin/max_element2/max_element2_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/maxmin/min_element/min_element.c",
      "./StandardAlgorithms/maxmin/minmax_element/minmax_element.c",
      "./StandardAlgorithms/maxmin/minmax_element/minmax_element.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/maxmin/minmax_element/minmax_element.c",
      "./StandardAlgorithms/maxmin/minmax_element/minmax_element_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/maxmin/min_element/min_element.c",
      "./StandardAlgorithms/maxmin/min_element/min_element_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack/stack_push/stack_push.c",
      "./StandardAlgorithms/stack/stack_push/stack_push_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack/stack_equal/stack_equal.c",
      "./StandardAlgorithms/stack/stack_equal/stack_equal_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack/stack_pop/stack_pop.c",
      "./StandardAlgorithms/stack/stack_pop/stack_pop_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack/stack_full/stack_full.c",
      "./StandardAlgorithms/stack/stack_full/stack_full_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack/stack_top/stack_top_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack/stack_init/stack_init_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack/stack_size/stack_size_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/stack/stack_empty/stack_empty_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/remove_copy3/remove_copy3_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/swap_ranges/swap_ranges_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/replace_copy/replace_copy_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/reverse_copy/reverse_copy_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/copy/copy_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/rotate/rotate_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/rotate_copy/rotate_copy_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/random_number/random_number_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/reverse/reverse_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/remove/remove_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/shuffle/shuffle_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/copy_backward/copy_backward_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/remove_copy/remove_copy_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/fill/fill_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/remove_copy2/remove_copy2_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/replace/replace_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/mutating/swap/swap_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/sorting/selection_sort/selection_sort_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/sorting/bubble_sort/bubble_sort_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/sorting/is_sorted/is_sorted_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/sorting/merge/merge_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/sorting/insertion_sort/insertion_sort_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/sorting/heap_sort/heap_sort_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/sorting/partial_sort/partial_sort_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/numeric/adjacent_difference/adjacent_difference_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/numeric/inner_product/inner_product_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/numeric/adjacent_difference_inv/adjacent_difference_inv_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/numeric/partial_sum/partial_sum_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/numeric/partial_sum_inv/partial_sum_inv_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/numeric/accumulate/accumulate_test.cpp"
    ]
  },
  {
    "include": "tis_config_64.config",
    "files": [
      "./StandardAlgorithms/numeric/iota/iota_test.cpp"
    ]
  }
]
