{
 "main": "main",
 "raw_options":
 {
  "-cxx-cpp-extra-args": "-I StandardAlgorithms/ -I StandardAlgorithms/Logic/ -I ./StandardAlgorithms/heap/is_heap/ -I ./StandardAlgorithms/heap -I ./StandardAlgorithms/heap/make_heap/ -I ./StandardAlgorithms/maxmin/min_element",
  "-cpp-extra-args": "-I StandardAlgorithms/ -I StandardAlgorithms/Logic/ -I StandardAlgorithms/binarysearch/lower_bound/ -I StandardAlgorithms/binarysearch/upper_bound/ -I ./StandardAlgorithms/maxmin/make_pair/ -I ./StandardAlgorithms/maxmin/max_element2/ -I ./StandardAlgorithms/nonmutating/find2 -I ./StandardAlgorithms/nonmutating/find3 -I ./StandardAlgorithms/heap/is_heap/ -I ./StandardAlgorithms/heap/is_heap_until/ -I ./StandardAlgorithms/heap/push_heap/ -I ./StandardAlgorithms/heap/pop_heap/ -I ./StandardAlgorithms/heap/heap_parent/ -I ./StandardAlgorithms/heap/heap_child_max -I ./StandardAlgorithms/stack/stack_pop -I ./StandardAlgorithms/stack/stack_size -I ./StandardAlgorithms/stack/stack_push -I ./StandardAlgorithms/stack/stack_top -I ./StandardAlgorithms/nonmutating/equal -I ./StandardAlgorithms/nonmutating/mismatch",
  "-cxx-std": "c++17"
 }
}
